@{
    ViewData["Title"] = "Modifica Violante";
}

@model Anagrafica

<form asp-controller="Home" asp-action="Edit" method="post" >
    <input type="hidden" asp-for="@Model.IDAnagrafica" />


    <div class="col-md-6">
        <label asp-for="@Model.Nome" class="form-label">Nome</label>
        <input type="text" class="form-control" asp-for="@Model.Nome" required>
    </div>
    <div class="col-md-6">
        <label asp-for="@Model.Cognome" class="form-label">Cognome</label>
        <input type="text" class="form-control" asp-for="@Model.Cognome" required>
    </div>
    <div class="col-12">
        <label asp-for="@Model.Indirizzo" class="form-label">Indirizzo</label>
        <input type="text" class="form-control" asp-for="@Model.Indirizzo" placeholder="1234 Main St" required>
    </div>
    <div class="col-12">
        <label asp-for="@Model.Citta" class="form-label">Città</label>
        <input type="text" class="form-control" asp-for="@Model.Citta" required>
    </div>
    <div class="col-md-6">
        <label asp-for="@Model.CAP" class="form-label">CAP</label>
        <input type="text" class="form-control" asp-for="@Model.CAP" required>
    </div>
    <div class="col-md-6">
        <label asp-for="@Model.Cod_Fisc" class="form-label">Codice Fiscale </label>
        <input type="text" class="form-control" asp-for="@Model.Cod_Fisc">
    </div>
 
    <button class="btn btn-primary">Modifica</button>
</form>