@{
    ViewData["Title"] = "Verbali oltre i 400 euro";
}

<h2>Verbali oltre i 400 euro </h2>

@if (Model is null)
{
    <h3>Non ci sono verbali sul database</h3>
}
else
{
    <table class="table table-primary table-hover text-center">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Cognome</th>
                <th scope="col">Data Violazione</th>
                <th scope="col">Importo</th>
                <th scope="col">Decurtamento Punti</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var multa in Model)
            {
                <tr>
                    <td scope="col">@multa.Nome</td>
                    <td scope="col">@multa.Cognome</td>
                    <td scope="col">@multa.DataViolazione.ToShortDateString()</td>
                    <td scope="col">@multa.Importo.ToString("#,0.##") €</td>
                    <td scope="col">@multa.DecurtamentoPunti</td>
                    <td scope="col">
                        <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Anagrafica" asp-route-id="@multa.IDAnagrafica">Trasgressore</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}